<p id="notice"><%= notice %></p>
<p>
  <strong>id:</strong>
  <%= @cat02.id %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @cat02.Codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cat02.Descripcion %>
</p>

<%= link_to 'Edit', edit_cat02_path(@cat02) %> |
<%= link_to 'Back', cat02s_path %>
