<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @cat01.Codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cat01.Descripcion %>
</p>

<%= link_to 'Edit', edit_cat01_path(@cat01) %> |
<%= link_to 'Back', cat01s_path %>
